#intro {
    color: #555555;
    float: left;
    font-size: 1.29em;
    width: 466px;
    margin-bottom: 2em;
}

#intro .quote
{
    background: url("++resource++younglives.homepage.images/left-quote.png") no-repeat 30px 0;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 60px;
}

#intro blockquote
{
    background: url("++resource++younglives.homepage.images/right-quote.png") no-repeat right bottom;
    display: inline;
    padding-right: 20px;
    font-style: italic;
    font-size: 120%;
}

.carousel-pager
{
    float: right;
    position: relative;
    top: -245px;
}

.carousel-pager-item-active
{
    background-color: white;
}

#younglives-homepage-boxes,
#footer-wrapper
{
    width: 990px;
    margin-left: 0;
    margin-right: 0;
}

.home-blocks .block,
#footer-wrapper .block
{
    float: left;
    margin-right: 25px;
    width: 222px;
}

#home-blocks h3
{
    color: #837562;
    font-size: 180%;
    margin-bottom: 12px;
}

.home-blocks p
{
    margin-bottom: 1em;
    color: #484848;
}

ul.arrow-list li
{
    background: url("++resource++younglives.homepage.images/bg-nav-border.png") repeat-x scroll left bottom transparent;
    display: list-item;
}

ul.arrow-list li a
{
    background: url("++resource++younglives.homepage.images/bg-nav.png") no-repeat scroll 0 -46px transparent;
    display: block;
    padding: 8px 10px 8px 13px;
}

div.news-list ul li {
    background: url("++resource++younglives.homepage.images/bg-nav-border.png") repeat-x scroll left bottom transparent;
    list-style-type: none;
    margin-bottom: 4px;
    padding-bottom: 4px;
    display: list-item;
}
